.aside {
  min-width: 272px;
  height: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #e5e5e5;
  box-shadow: -2px 0 10px #000;
  z-index: 9999;
  background-color: #fff;
}

.aside h2 {
  padding-left: 1.5rem;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow-y: auto;
}

.listItem {
  margin-bottom: 5px;
  padding: 1rem 2rem 1rem 1.5rem;
  display: block;
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
  outline: currentcolor none medium;
}

.listItem:hover {
  background-color: #f5f5f5;
}

.listItemActive {
  background-color: #e9f3ff !important;
}

@media only screen and (max-width: 500px) {
  .aside {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100vw;
    transition: left 0.3s ease-in;
  }

  .asideOpen {
    left: 0;
  }
}
