.popup {
  width: auto;
  min-height: 90%;
}

.popup .leaflet-popup-content {
  margin: 0;
}

.markerIcon {
  border: 2px solid #fff;
  border-radius: 2px;
  overflow: hidden;
}

.markerItemCount {
  width: 18px;
  height: 18px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background: #fff;
  text-align: center;
  font-weight: bold;
}
